* {
    margin: 0;
    padding: 0;
}
body {
    margin-bottom: 100px;
    background: linear-gradient(to top right, #2d897a 0%, #1c2a33 60%, #2d897a 79%, #1c2a33 100%);
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 41px 2px rgba(22, 22, 22, 0.58);
    margin: 40px auto;
    overflow: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    width: 100%;
    background-color: rgb(49,49,49);
    box-shadow: 1px 1px 11px 3px rgba(0,0,0,0.48);
}
.logo-block {
    padding-left: 30px;
}
.logo-text {
    font-family: 'Comfortaa', cursive;
    font-size: 20pt;
    color: #22c4a8;
    cursor: default;
}
.studentinfo {
    display: flex;
    //flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.debts-block {
    height: 100%;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    transition: background-color 0.1s linear;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid white;
}
.debts-block:hover {
    background-color: #f2f2f2;
}
.debts-text {
    cursor: pointer;
    color: red;
    font-family: 'Roboto', cursive;
    text-shadow: 1.5px 1.5px 1px rgba(0,0,0,0.3);
}
.avatar {
    border-radius: 100px;
    background-color: #f2f2f2;
    border-width: 1px;
    border-color: #1f1f1f;
    height: 40px;
    margin-right: 15px;
    cursor: pointer;
    transition: opacity 0.06s linear;
}
.avatar:hover {
    opacity: 0.5;
}
.graduation-cap {
    height: 40px;
}
.studentname {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    color: #f2f2f2;
    margin-right: 15px;
    cursor: default;
}
.divider {
    height: 100%;
    width: 1px;
    background-color: #f2f2f2;
}
.main {
    display: flex;
    width: 100%;
}
.main-content {
    width: 75%;
    background-color: #22c4a8;
}
.main-navbar {
    width: 25%;
    background-color: #1c2a33;
}
.tips ul {
    font-family: 'Century Gothic', cursive;
    font-weight: 100;
    display: flex;
    justify-content: space-around;
    background-color: #22c4a8;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14pt;
    cursor: default;
}
.tips li {
    background-color: #f2f2f2;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 7px 12px;
    border-radius: 20px;
}
.tips ul li .text{
    margin-left: 5px;
}
.ul-labs li {
    background-color: #f2f2f2;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Comfortaa', cursive;
    font-size: 16pt;
    cursor: pointer;
    transition: filter 0.1s linear;
}
.ul-labs li div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-labs li:last-child {
    margin-bottom: 50px;
}
.ul-labs .burned {
    filter: blur(1.5px)
}
.ul-labs .burned:hover {
    filter: blur(0px);
}

.ul-labs i {
    color: forestgreen;
    margin-right: 15px;
}
.ul-labs li:hover i {
    color: #1c2a33;
}

.ul-labs li:hover .lesson-name-block {
    background-color: #22c4a8;
}
.ul-labs li:hover .lesson-name {
    color: #1c2a33;
    text-shadow: 1px 1.3px 1px rgba(0,0,0,1);
 }



.date {
    margin-right: 15px;
    margin-left: 15px;
    font-weight: 100;
    font-size: 15pt;
}
.date-success {
    color: forestgreen;
}
.date-burn {
    color: red;
}
.date-timeisup {
    text-decoration: line-through;
}
.date-checking {
    color: #3498db;
}
.lesson-name-block {
    margin-right: 15px;
    background-color: #1c2a33;
    padding: 7px 10px;
    border-radius: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    transition: background-color 0.1s linear;
}
.lesson-name {
    color: #f2f2f2;
    transition: color 0.1s linear,
                text-shadow 0.1s linear;
}
.main-navbar-header {
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
}
.main-navbar-header p {
    font-size: 20pt;
    font-family: 'Roboto', sans-serif;
    color: #1c2a33;
    cursor: default;
}
.main-navbar-filters li {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    margin-bottom: 10px;
    color: #ccc;
    text-align: end;
    background-color: #1f1f1f;
    //border-top-left-radius: 25px;
    //border-bottom-left-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    //margin-left: 20px;
    cursor: pointer;
}
.main-navbar-filters li p {
    margin-right: 10px;
    transition: color 0.1s linear;
}
.main-navbar-filters li:hover p {
    color: #22c4a8;
}
.active {
    color: #288b7b;
}
.main-navbar-filters li:first-child {
    margin-top: 20px;
}

.chin {
    height: 40px;
    background-color: rgb(49,49,49);
}



@media only screen and (max-width: 930px) {
    .tips li {
        flex-direction: column;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

@media only screen and (max-width: 768px) {
    .main-navbar-filters li {
        margin-left: 0;
        border-radius: 0;
        text-align: center;
    }
    .studentname {
        margin-right: 3px;
    }
    .main {
        flex-direction: column-reverse;
    }
    .main-content {
        width: 100%;
    }
    .main-navbar {
        width: 100%;
    }
}







.debts-teacher-block {
    height: 100%;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    transition: background-color 0.1s linear;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid white;
}
.debts-teacher-block:hover {
    background-color: #f2f2f2;
}
.debts-teacher-text {
    cursor: pointer;
    color: #3498db;
    font-family: 'Roboto', cursive;
    text-shadow: 1.5px 1.5px 1px rgba(0,0,0,0.3);
}
.otherTeachersPage-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 5px;
}
.otherTeachersPage {
    background-color: #f2f2f2;
    margin-right: 30px;
    padding: 7px 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.35);
    transition: background-color 0.1s linear;
    cursor: pointer;
}
.otherTeachersPage-text {
    color: #1f1f1f;
    font-family: 'Century Gothic', cursive;
    font-weight: 100;
    font-size: 14pt;
}
.otherTeachersPage .icon-newLab {
    font-size: 15pt;
    margin-left: 10px;
    transition: color 0.1s linear;
}
.otherTeachersPage:hover .icon-newLab {
    color: #22c4a8;
}
.otherTeachersPage:hover {
    background-color: rgba(242, 242, 242,0.9);
}
.tipForTeacher {
    background-color: #f2f2f2;
    margin-left: 30px;
    padding: 7px 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}
.tipForTeacher-text {
    color: #1f1f1f;
    font-family: 'Century Gothic', cursive;
    font-weight: 100;
    font-size: 14pt;
    display: flex;
}
.tipForTeacher .text {
    margin-left: 5px;
}

.ul-labs li .text-blue {
    color: #3498db;
}
.ul-labs li .text-black {
    color: #1f1f1f;
}


.countLabsForCheck {
    cursor: pointer;
    color: #1f1f1f;
    font-family: 'Century Gothic', cursive;
    margin-right: 10px;
}