*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Comfortaa', cursive;
    margin-bottom: 100px;
    background: linear-gradient(to top right, #2d897a 0%, #1c2a33 60%, #2d897a 79%, #1c2a33 100%);
}

.container{
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    max-width: 1140px;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 41px 2px rgba(28, 42, 51, 0.58);
    overflow: hidden;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    padding-top: 15px;
}

.logo-block {
    background-color: #256f62;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.4);
    display: flex;
    justify-content: flex-end;
}

.logo-text {
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
    color: #f2f2f2;
    cursor: default;
    margin-right: 50px;
}

.main{
    width: 100%;
}
.main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form-block{
    margin-bottom: 50px;
    padding-left: 5%;
    width: 100%;
}
form input{
    font-size: 25px;
    display: block;
    width: 100px;
    margin-bottom: 13px;
}
form .input{
    width: 94%;
    margin-top: 3px;
}
form label{
    margin-left: 3px;
}

#create-profile{
    width: 100%;
    background-color: #1c2a33;
    border-width: 0;
    cursor: pointer;
    padding-top: 13px;
    padding-bottom: 13px;
    box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.75);
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-size: 17pt;
    transition: background-color 0.12s linear;
    text-transform: uppercase;
}
#create-profile:hover {
    background-color: #256f62;
}